@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #18181b; /* zinc-900 */
}

.dark {
  --background: #111113; /* slightly softer than pure black #09090b */
  --foreground: #e4e4e7; /* zinc-200 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
